//
// superfish.css to superfish.scss
// Jannik Nölke
// --------------------------------------------
// superfish.scss			Version: Alpha 0.4
// Superfish 				Version: 1.7.7
// Superfish Contao Plugin 	Version: 3.2.0
// --------------------------------------------
//

//
// Vars
//

// Wird Contao benutzt (=1) wird der Bug mit der block-Klasse overflow behoben
$contao:		1;

// Konfiguration
$normalBg:		0; 				// Der Link hat einen standardmäßigen Hintergrund (=1)
$hoverBg:		0; 				// Der Link benötigt einen Hover-Hintergrund (=1)
$enableEffects: 1;				// CSS3-Transitions werden benötigt (=1)

//
// Styling Konfiguration:
//
$aColor:		#004c90;		// Standardmäßige Linkfarbe
$aBackground:	#FFF;			// Standadmäßiger Hintergrund
$aBgHover:		#FFF;			// Hover-Background
$aTextHover:	#3d83be;		// Hover-Farbe für den Linktext
$subMenuBg:		$aColor;		// Hintergrundfarbe für Submenü´s
$subMenuColor:  #FFF;			// Linkfarbe für Submenüs 
$subMenuHColor: #CCC;			// Link-Hover-Farbe für Submenüs 
$floating:		right;			// Floating des gesamten Menüs. (none, left, right)

//
// Benötigte Mixins
//
@mixin hoverEffects($hoverType) {
    -webkit-transition: $hoverType 0.3s ease-in-out;
    -moz-transition: $hoverType 0.3s ease-in-out;
    -ms-transition: $hoverType 0.3s ease-in-out;
    transition: $hoverType 0.3s ease-in-out;
}

//
// Base Styles
//
@if $contao==1 {
    .mod_navigation {
        &.block {overflow:visible!important;}
    }
}
.sf-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    float: $floating;
    // --
    ul {
    	position: absolute;
    	display: none;
    	top: 100%;
    	left: 0;
    	z-index: 99;
    	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
    	min-width: 12em;
    	li {background: $subMenuBg;}
    	ul {
    		top: 0;
    		left: 100%;
    		li {background: $subMenuBg;}
    	}
    }
    // --
    > li {
    	float:left;
    	position:relative;
    	&:hover > ul, &.sfHover > ul {
    		display: block;
    	}
    	&.sfHover {
    		a {
    			@if $hoverBg==1 {background: $aBgHover;color: $aColor;}
    			@else {color: $aTextHover;}
    		}
    		// Fix Submenu bei sfHover
    		ul {
    			a {
    				@if $normalBg==1 {background: $aBackground;}
    				color: $subMenuColor !important;
    				&:hover {color: $subMenuHColor !important;}
    			}
    		}
    	}
    }
    // --
    a {
    	display: block;
    	position: relative;
    	color: $aColor;
    	padding: .75em 1em;
    	@if $normalBg==1 {background: $aBackground;}
    	@if $enableEffects==1 {@include hoverEffects(all);}
    	&:hover, &.active {
    		@if $hoverBg==1 {background: $aBgHover !important;color: $aColor !important;}
    		@else {color: $aTextHover !important;}
    	}
    }
    //
    // Begin Custom Styles
    //
}